fastapi==0.95.2
uvicorn==0.22.0
motor==3.1.2
pymongo==4.3.3
python-dotenv==1.0.0
pydantic==1.10.8
httpx>=0.23.0,<0.24.0
typing-extensions==4.5.0
uuid==1.30
python-multipart==0.0.6
sentence-transformers==2.2.2
supabase==1.0.3
langchain==0.0.218
langchain-openai==0.0.3
cryptography==41.0.3
tenacity==8.2.2
